<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dunzos</title>
</head>
<body>
 <p>There were 99 bottles of beer on the wall, now there are none.</p>
 <p>I think you may have a problem</p>
 <a href="/">Reset</a>
</body>
</html>
