<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Progress</title>
</head>
<body>
   <h1> There are <%= @num_bottles %> bottles of beer on the wall.</h1>
   <a href="/<%= @lessbottles %>">Take those mothafuckas down!!!</a>
</body>
</html>
